/* Variable declaration */


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');


:root {
    --primarycolor: #95c11e;
    --secondarycolor: white;
    --swiper-pagination-bullet-horizontal-gap: 10px
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: var(--secondarycolor);
}

*::selection{
    color: var(--primarycolor);
    background-color: var(--secondarycolor);
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  
::-webkit-scrollbar-track {
    background-color: black; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background:var(--primarycolor); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  /* ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  } */

html,
body {
    width: 100%;
    height: 100%;
    background-color: black;
    scroll-behavior: smooth;
   
}

.fw900 {
    font-weight: 900;

}

.section {
    width: 100%;
    min-height: 100%;
    position: relative;
    margin-bottom: 10rem;
}

.z-index10{
    z-index: 10;
}

/* --------------------------------Cursor styles ---------------------------------*/
.cursor {

    /* Dimensions */
    width: 20px;
    height: 20px;

    /* Styling */
    background-color: var(--primarycolor);
    border-radius: 50%;

    /* Positioning */
    position: fixed;
    z-index: 100;
    transform: translateX(-50%);

    /* Behavior */
    pointer-events: none;

    /* for mobile */
    display: none;
}

.cursorblur {

    /* Dimensions */
    width: 300px;
    height: 300px;

    /* Styling */
    background-color: var(--primarycolor);
    border-radius: 50%;
    filter: blur(120px);

    /* Positioning */
    position: fixed;
    z-index: 1;
    transform: translateX(-50%);

    /* Behaviour */
    pointer-events: none;

    /* for mobile */
    display: none;

}

/* ---------------------------------------------------------------------------- */

/*-------------------------- Navbar styles ------------------------------------*/

nav {

    /* Dimensions */
    width: 100%;
    height: 100px;

    /* Styling */
    background-color: rgba(0, 0, 0, 0);
    padding: 1em 2em;

    /* Positioning */
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    z-index: 99;

}

#scg-logo{
    width: 6rem;
    height: 6rem;
    position: relative;
    z-index: 102;
}

.menu{
    display: none;
}

.menu-icon{
    width: 50px;
    height: 50px;
    justify-self: flex-end;
    z-index: 101;
}

.menu-icon svg{
    width: 100%;
    height: 100%;
}

.hidden{
    display: none;
}

.mobile-menu{
    width: 100vw;
    height:0 ;
    position: absolute;
    top: 0; 
    left: 0;
    z-index: 100;
    background-image: linear-gradient(to top right,
            #b3e824,
            var(--primarycolor),
            #039c3d);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    overflow: hidden;
    transition: all 0.6s;
}



.mobile-menu a{
    font-size: clamp(1.8rem,10vw,3rem);
    font-weight: 900;
    text-decoration: none;
    text-shadow: black -2px -2px;
    user-select: none;
}

.menu-height{
    height: 100vh;
}



/* ------------------------------------------------------------------------- */

/* ---------------------------Background Video styles------------------------ */

/* background video div styling */
.bg_vid {
    width: 100%;
    height: 100%;
    position: fixed;

}


/* background video styling */
#golf-vid {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -10;

}

/* ----------------------------------------------------------------------------- */

/*---------------------------- Main wrapper styles------------------------------*/

main {
    width: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
    
}

/* --------------------------------------Heading styles------------------------ */
.heading {

    /* dimension */
    width: 100%;
    height: 100vh;

    /* flex properties */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.heading {
    position: relative;

}

.heading h1 {
        
    font-size: clamp(4rem,7.5vw,9rem);
    position: relative;
    text-transform: uppercase;
    line-height: 1;
}

.heading h1::after       {
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    font-size: clamp(4rem,7.5vw,9rem);
    color: black;
    -webkit-text-stroke: 2px var(--primarycolor);
    width: 100%;
    top: -0.2rem;
    left: -0.2rem;
    z-index: -1;
}
.heading h4 {
    font-size: clamp(1.3rem,1vw,2rem);
    text-transform: uppercase;
    margin-top: 1.3rem;
    line-height: 1.5;

}

.heading p {
    width: 90%;
    max-width: 36rem;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 1rem;
    line-height: 1.5;

}

.abs-jump-arrow{
    width:7rem;
    height: 7rem;
    position: relative;
    margin-top: 2rem; 
}

.skipto-ring{
    width: 100%;
    height: 100%;
    border: 2px solid var(--primarycolor);
    border-radius: 50%;
    transition: all 0.6s;
    position: relative;
}

.skipto-arrow{
    width: 30%;
    height: 30%;
    position: absolute;
    top: calc(50% - calc(30%/2));
    left: calc(50% - calc(30%/2));
    overflow: hidden;
}

.downarrow{
    display:block;
    width: 100%;
    height: 100%;

    
}

.abs-jump-arrow:hover .skipto-ring{
    scale: 0.6;
    background-color: var(--primarycolor);
}

.abs-jump-arrow:hover .downarrow{
    animation: movedown 0.6s ease 0s 1 backwards ;
}

@keyframes movedown {
    from{
        /* background-color: #039c3d; */
        transform: translateY(-100%);
    }

    to{
        /* background-color: beige; */
        transform: translateY(0);
    }
    
}



/* ----------------------------------Section 2 styles--------------------------- */


.carousel {
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.scrolling {
    display: inline-block;
    white-space: nowrap;
    animation: scroll 30s linear;
    animation-iteration-count: infinite;
}

.carousel span {
    /* display: inline-block; */
    font-size: 5rem;
    font-weight: 900;
    color: transparent;
    font-family: sans-serif;
    margin-right: 1rem;
    -webkit-text-stroke: 1px var(--secondarycolor);
}

.scrolling span:hover {
    color: var(--primarycolor);
    -webkit-text-stroke: 1px var(--primarycolor);

}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }

}

.aboutus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 4rem;
    height: 100%;
    margin-top: 2rem;

}

.aboutus-images{
    display: flex;
    justify-content: space-evenly;
}

.aboutus-images img{
    width:100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;

}

#section2-image1 {
    width: 45%;
    height: 20rem;
    border-radius: 10px;
}


#section2-image2 {
    width: 45%;
    height: 20rem;
    border-radius: 10px;
}

.aboutus-description  {
    width: 90%;
    text-align: center;
    font-size: clamp(1rem,2.5vw,1.3rem);
    line-height: 2;
    order: 100;
}

.aboutus-description h2 {
    font-size: 2.5rem;
}

/* ----------------------------------Section 3 styles--------------------------- */




#dotimg {
    width: 8rem;
    height: 8rem;
    top: -8%;
    left: 5%;
    position: absolute;
    z-index: 0;
}

.cards_cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2rem;
}

.cards {
    width: 90%;
    height: 30rem;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    /* margin-top: 8.5rem; */

}

.cards img {
    width: 100%;
    height: 100%;
    border-radius: 20px;

    transition: all 0.6s;
    object-fit: cover;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);

}

.cards h2 {
    font-size: clamp(2rem,3vw,2.8rem);
    font-weight: 900;
    position: absolute;
    left: 3%;
    bottom: 5%;
}

.cards:hover img {

    transform: scale(1.2);
    /* opacity: 0;  */
}

.cards:hover .backpage {
    opacity: 1;
}

.backpage {

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: var(--primarycolor);
    opacity: 0;
    transition: all 0.6s;
    padding: 2rem;
}

.backpage h1 {
    font-size: clamp(1.3rem,3.2vw,2rem);
    color: black;
    margin-top: 2%;
}

.backpage p {
    font-size: clamp(1rem,2vw,1.2rem);
    color: black;
    line-height: 1.6;
    margin-top: 1rem;
}

/* ------------------------------ */

.greendiv {
    width: 100%;
    height: 350px;
    position: relative;
    background-image: linear-gradient(to top right,
            #b3e824,
            var(--primarycolor),
            #039c3d);

    display: flex;
    justify-content: center;
    align-items: center;


}

.greendiv img {
    margin: 0 1rem;
    width: 15%;
    height: 100%;
    object-fit: cover;
    object-position: right;
    opacity: 0.6;
    position: absolute;
    top: 0;
    right: 0;
    
}

.greendiv img:first-child{
    transform: scaleX(-1);
    left: 0;
}

.greendiv h4 {
    width: 80%;
    min-width: 10rem;
    line-height: 1.66;
    color: black;
    font-size: clamp(1.3rem,4vw,2rem);
    font-weight: 900;
    text-align: center;
    z-index: 10;
  
}

/* -------------------------------------------- */
.secwrapper {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 13vmin;

}

.leftpanel {
    width: 90%;
    height: 60vmin;
    min-height: 12rem;
    margin: 0 5rem;
    position: relative;
    z-index: 1;

}

.dotimgg {
    position: absolute;
    width: 30%;
    height: 30%;
    max-width: 15rem;
    bottom: -15%;
    left: 10px;
    z-index: -1;
}

.swiper {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.swiper-slide {
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper .swiper-pagination {
    bottom: 100px
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
}

.swiper-pagination .swiper-pagination-bullet {
    /* margin: 0 10px !important; */
    background-color: black;
    opacity: 1;
    scale: 1.4;
}

.swiper .swiper-pagination-bullets .swiper-pagination-bullet-active {
    background-color: var(--primarycolor);
    transition: all 0.5s;
    position: relative;


}

.swiper .swiper-pagination-bullets .swiper-pagination-bullet-active::after {
    content: " ";
    width: 12px;
    height: 12px;
    border: 1px solid var(--primarycolor);
    border-radius: 50%;
    position: absolute;
    top: -30%;
    left: -30%;
}

.rightpanel {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.rightpanel h1{
    font-size: clamp(2rem,5vw,3rem);
}

.rightpanel p{
    font-size: clamp(1rem,2vw,1.2rem);
    line-height: 2;
}

.buttons button {
    padding: 1em 1em;
    width: 13em;
    font-weight: bold;
    background-color: black;
    border: 2px solid var(--primarycolor);
    border-radius: 30px;
    transition: all 0.6s;
}

.buttons button:hover {
    background-color: var(--primarycolor);
    color: black;
}

/* -----------------------------Section 6------------------------------ */
.section6 {
    margin-top: 10rem;
    height: 100%;
    position: relative;

}

.sec_wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transform: rotate(-4deg);
   
}

.picscroller {
    white-space: nowrap;
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    pointer-events: none;

}

.picscroll {
    display: inline-block;
    animation: scroll 30s linear;
    animation-iteration-count: infinite;

}

.picscroll img {
    width: 12rem;
    height: 20rem;
    border-radius: 10px;
    margin-right: 1.5rem;
    object-fit: cover;

}

.picscroller::-webkit-scrollbar {
    display: none;
}

.instaref {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    
}

#instalogo {
    width: 20px;
    height: 20px;
}

.instaref a {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 900;
    text-decoration: none;
   
}

.instaref:hover a {
    color: var(--primarycolor);
}

.instaref:hover path {
    fill: var(--primarycolor);
}

/* -------------------------------Section 7----------------------------- */

#sec7 .section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.quotes-wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
}

#q1,#q2{
    width: 2rem;
    height: 2rem;
    position: absolute;
    transition: all 0.6s;
    
}

#q1{
    top: 2%;
    left: 2%;

}

#q2{
    bottom: 2%;
    right: 2%;

}


.mySwiper {
    width: 100%;
    height: 30rem;
     
}

.swiper-wrapper2 .swiper-slide2 {
    width: 100%;
    height: 100%;
    font-size: clamp(1rem,2.5vw,2rem);
    background: transparent;
    text-align: center;
    vertical-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.swiper-slide2 p{
    width: 80%;
    line-height: 1.5;
    font-weight: 900;
    /* margin-top: 3rem */
    /* position: absolute;  */
    top: 10%;
    left: 10%;
    
}

/* ------------------------------------------------------------- */

#sec8{
    margin-bottom: 10vh;
   
}

.section8-header-wrapper {
    width: 100%;
    position: absolute;
    top: -10%;
    display: flex;
    justify-content: center;
}

#section8-header {

    font-size: clamp(1rem,5.1vw,8rem);
    font-family: sans-serif;
    color: var(--primarycolor);
    font-weight: 900;
   
}


.tab_container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    margin-top: 10rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    
   
}

.tabs {
    width: 90%;
    height: 30vmin;
    min-height: 120px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.tabs img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    scale: 1.1;
    transition: all 0.6s;
}

.taboverlay {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.395);
    font-size: clamp(1.5rem,5vw,2.2rem);
    font-weight: 900;
    transition: all 0.6s;
    

}

.tabs:hover .tabimg {
    scale: 1
}

/* -------------------------Styles for footer------------------------------- */

footer {
    position: relative;
    z-index: 10;
    height: 500px;
    background-image: linear-gradient(to top right,
            #b3e824,
            var(--primarycolor),
            #039c3d);
}

.dottedimg {
    width: 50%;
    height: 70%;
    z-index: 0;
    object-fit: cover;
    position: absolute;
    bottom: 0;
}

.footer-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding:0 3%;
    align-items: flex-start;
    justify-content: center;
    /* gap: 1rem; */
}


#sidcup-logo {
    width: 8rem;
    height: 6rem;
}

.social-ref{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

#fblogo {
    width: 2rem;
    height: 2rem;
}

#instlogo {
    width: 2rem;
    height: 2rem;
    fill: black;
}

.part {
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* gap: 2rem; */
}

.footer-wrapper .part:first-child{
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.links {
    font-size: clamp(1.3rem,3vw,2.5rem);
    font-weight: 900;
    text-decoration: none;
    color: black;
}

.links:hover{
    color: white;
}


#fblogo:hover g {
    fill: var(--secondarycolor)
}

#instlogo:hover path {
    fill: var(--secondarycolor)
}

/* ----------------Media Queries------------- */

@media (min-width:768px) {
    .cards{
        height: 20rem;
    }

    .leftpanel{
        width: 85%;
    }

    .rightpanel{
        width: 85%;
    }

    .instaref{
        justify-content: flex-end;
    }

    .instaref a{
        font-size: 1.5rem;
        align-self: flex-end;
    }

    .picscroll img{
        width: 15rem;
        height: 25rem;
    }

    #q1,#q2{
        width: 3rem;
        height: 3rem;
    }

    #q1{
        top:5%;
        left: 5%;
    }

    #q2{
        bottom:5%;
        right: 5%;
    }

    .tabs{
        width: 90%;
    }

    .part{
        justify-content: space-evenly;
        gap: 1rem
    }
}


@media (min-width:1025px) {

    .cursor,.cursorblur{
        display: block;
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 4em;
       
    }
    
    .menu a{
        
        text-decoration: none;
    }
    
    .menu h4{
        font-weight: 500;
    }
    
    .greenhover:hover {
        color: var(--primarycolor);
    }
    
    .blackhover:hover{
        color: black;
    }

    .menu-icon{
        display: none;
    }

    .mobile-menu{
        display: none;
    }

    nav{
        justify-content: flex-start;
        gap: 25%;

    }


    .aboutus-images{
        width: 100%;
        position: absolute;
        justify-content: space-around;
        gap: 50%;
    }

    #section2-image1 , #section2-image2{
        width: 12rem;
        height: 14rem;
        margin: 0 2rem;
    }

    .aboutus-description{
        /* font-size: 1rem; */
        z-index: 10;
        width: 50%;
    }

    #dotimg{
        width: 12rem;
        height: 12rem;
    }

    .cards_cont{
        flex-direction: row;
        justify-content: center;
        gap: 3%;
        padding: 1rem 5rem;
    }

    .cards{
        width: 32rem;
        min-height: 35rem;
    }

    .backpage{
        padding: 1.5rem;
    }

    .secwrapper{
        flex-direction: row;
        gap:1rem
    }

    .leftpanel{
        width: 45%;
        height: 30rem;
        margin: 2.5rem;
    }

    .swiper .swiper-pagination-bullets .swiper-pagination-bullet-active::after{
        top: -40%;
    left: -40%;
    }

    .rightpanel{
        width: 40%;
        padding: 0 1rem;
    }

    .instaref a{
        font-size: 2rem;
        align-self: flex-end;
        margin-right: 3rem;
    }

    
    .picscroll img{
        width: 20rem;
        height: 30rem;
    }

    #q1,#q2{
        width: 4rem;
        height: 4rem;
    }

    .mySwiper{
        width: 60%;
    }

    .tab_container{
        flex-direction: row;
        gap: 3rem;
        padding: 1rem 5rem;
    }

    .section8-header-wrapper{
        top:-40%
    }

    #section8-header{
        -webkit-text-stroke: 1px white;
    }

    .taboverlay{
        background-color: var(--primarycolor);
        
    }

    .taboverlay p{
        color: black;
    }

    .tabs{
        width: 40%;
        height: 10rem;
        text-align: center;
    }

    .tabs:hover .taboverlay{
        background-color: rgba(0, 0, 0, 0.395) ;
    }

    .taboverlay:hover p{
        color: white;
    }

    .footer-wrapper{
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 3rem;
    }

    .dottedimg{
        width: 30%;
        height: 100%;
        top: 0;
        left: 0;
    }

    .footer-wrapper .part:first-child{
        width: 20%;
        flex-direction: column;
        justify-content: flex-start;
        gap: 2rem;
    }

    #sidcup-logo {
        width: 10rem;
        height: 8rem;
    }

    #fblogo {
        width: 3rem;
        height: 3rem;
    }
    
    #instlogo {
        width: 3rem;
        height: 3rem;
        fill: black;
    }

    .social-ref{
        flex-direction: row;
        gap:2rem;
    }

}

